a {
  text-decoration: none;
 }


#header-main {
  margin-top: 5em; }

#header-sec {
  margin-top: 1em; }

body {
  background-image: url("../background.jpg"); }

form {
  margin: 0 auto;
  width: 60%; }

#samsung-main {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em; }

#logo-main {
  width: 80%;
  display: block;
  margin: auto; }

#logo-sec {
  width: 60%;
  display: block;
  margin: auto; }

.slides {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
  border: 1px solid #f4d68b; }

#samsung-sec {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em; }

.slideshow {
  max-width: 90%;
  position: relative;
  margin: auto; }

.input-login {
  height: 1.3em;
  margin: 0 auto;
  width: 100%;
  font-size: 1em; }

.orange {
  color: #f4d68b;
  font-family: Arial;
  font-size: 0.9em;
  text-align: center; }

.orange-slide {
  color: #f4d68b;
  font-family: Arial;
  font-size: 0.9em;
  text-align: left;
  margin: 1em; }

.white {
  color: #fefdfa;
  font-family: Arial;
  font-size: 0.7em;
  text-align: center; }

.white-p {
  color: #fefdfa;
  font-family: Arial;
  font-size: 0.9em;
  text-align: left;
  margin-left: 1em; }

  .white-p1 {
    color: #fefdfa;
    font-family: Arial;
    font-size: 1em;
    text-align: left;
    margin-left: 1em;
    margin-top: -.8em;
    padding: 0;
  }

.white-sec {
  color: #fefdfa;
  font-family: Arial;
  font-size: 0.9em;
  text-align: left;
  margin-bottom: 0.2em;
  padding-left: .9em;}


.white-note {
  color: #fefdfa;
  font-family: Arial;
  font-size: 0.7em;
  text-align: left;
  padding-left: 1em;}

.white-menu {
  color: #fefdfa;
  font-family: Arial;
  font-size: 0.9em;
  text-align: center; }

#alert {
  color: #d9482b;
  font-family: Arial;
  font-size: 0.7em;
  display: none; }

.submit-button {
  background-color: #c63b9b;
  width: 6em;
  border: none;
  border-radius: 45px;
  color: #fefdfa;
  padding: .1em 0em;
  text-align: center;
  display: block;
  font-family: Arial;
  font-size: 0.9em;
  margin: 2em auto; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul li {
  border-right: 1px solid #fefdfa;
  text-align: center;
  margin: 1em 0em;
  width: 7em;
  height: 1.4em;
  cursor: pointer; }

ul > li:first-child {
  padding-right: .2em; }

ul > li:last-child {
  border: none;
  margin: 1em; }

.link {
  text-decoration: underline;
  color: #fefdfa;
  font-weight: bold; }

.mySlides {
  display: none; }

/* CHECKBOXES */

.boxy {
  width: 1em;
  height: 1em;
  margin: .5em;

}

.white-check {
  color: #fefdfa;
  font-family: Arial;
  font-size: 1.2em;
  text-align: left;
  padding-left: .8em;
  padding-right: .3em;
  padding-top: .3em;

}

.extra {
  display:none;;
}

/* MEDIA QUERIES */

@media only screen and (min-width : 768px) {

  .large {
    display: none;
  }

  #header-main {
    margin-top: 1em;
  }

  #samsung-main {
    width: 25%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em; }

  #logo-main {
    width: 60%;
    display: block;
    margin: auto; }

    .input-login {
      height: 1.7em;
      font-size: 1.4em;
    }

    main {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    .extra {
      display:block;
    }

    .submit-button {
      width: 9em;
      padding: .5em 0em;

    }

    #delegates {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 60%;
    }

    form {

      width: 80%; }

    .flex {
      width: 85%;
    }

    .flex-text {
      width: 16em;
    }

    .flexbox-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }


    .flexbox-col {
      display: flex;
      flex-direction: column;
      float: left;
      width: 21%;
    }

    .vline {
      border: 1px solid white;
      height: 5em;
      display: flex;
      flex-direction: column;
      float: left;
      width: .001px;
      margin-top: 6em;
      margin-left: 1em;
      margin-right: 1em;
      padding-top: 4em;
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      float: left;

    }

    .flex-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 2em;
    }

    .flex-logo {
      display: flex;
      flex-direction: column;
      max-height: 4em;
      max-width: 12em;
    }

    .flex-col-3 {
      display: flex;
      flex-direction: column;
      float: left;
      width: 33%;

    }

    .center {
      max-height: 12em;
      max-width: 24em;
      padding-left: 10em;
    }

    #main-venue {
      display: flex;
      flex-direction: row-reverse;
    }

    .slideshow {
      width: 85%;
      margin-top: 2em;
    }

    .flex-slide {
      display: flex;
      flex-direction: column;
      float: left;
      width: 49%;
    }


}

/*# sourceMappingURL=styles.css.map */
